body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.parentCont {
  padding: 25px;
  background-color: rgb(161, 161, 161);
  border-radius: 25px;
}

#parent0 {
  background-color: rgb(99, 99, 99);
  border-radius: 9px;
  display: flex;
  position: relative;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
}

#parent0 > p {
  position: absolute;
  text-wrap: nowrap;
}

#parent1 {
  background-color: rgb(99, 99, 99);
  border-radius: 9px;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

#parent1 > p {
  position: absolute;
  text-wrap: nowrap;
}