body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#parent0 {
  display: flex;
  position: relative;
  flex-direction: row;
  overflow: hidden;
  align-items: center;
}

#parent0 > p {
  position: absolute;
  text-wrap: nowrap;
}

#parent1 {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

#parent1 > p {
  position: absolute;
  text-wrap: nowrap;
}